@use '../abstract/' as a;
* {
    font-family: 'Inter', sans-serif;
    color: white;
}

h1 {
    font-family: 'Titan One', sans-serif;
    font-size: 60px;
    color: a.$dyellow;
    display: flex;
    width: 100%;
    justify-content: center;
}