$lblue: #3498db;
$dblue: #2980b9;
$lgreen: #2ecc71;
$dgreen: #27ae60;
$lturquoise: #1abc9c;
$dturquoise: #16a085;
$lpurple: #9b59b6;
$dpurple: #8e44ad;
$lorange: #e67e22;
$dorange:#d35400;
$lred:#e74c3c;
$dred:#c0392b;
$lgrey:#ecf0f1;
$dgrey:#bdc3c7;
$lyellow:#f1c40f;
$dyellow:#f39c12;
$lmarine: #34495e;
$dmarine: #2c3e50;