@use '../abstract/' as a;

.button {
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  font-family: 'Titan One', sans-serif;
  font-size: 34px;
  border: none;
  cursor: pointer;
}

.btn-true {
  background-color: a.$lgreen;
  transform: rotate(0deg) translateY(0px) scale(1);
  transition: transform .10s ease-in-out;
  &:hover {
    transform: rotate(-5deg) translateY(5px) scale(1.2);
    transition: transform .10s ease-in-out;
  }
}

.btn-false {
  background-color: a.$lred;
  transform: rotate(0deg) translateY(0px) scale(1);
  transition: transform .10s ease-in-out;
  &:hover {
    transform: rotate(5deg) translateY(5px) scale(1.2);
    transition: transform .10s ease-in-out;
  }
}

.btn-inactive {
  background-color: a.$dgrey;
  color: a.$lgrey;
}

.home-link {
  @include a.flex-center;
  position: absolute;
  left: 50px;
  bottom: 50px;
  width: 60px;
  height: 60px;
  border-radius: 20px;
  background-color: a.$lmarine;
}

.resume-link {
  position: absolute;
  bottom: 50px;
  right: 50px;
  animation: sideBounce 1s infinite;
}

.prizewheel-button {
  display: flex;
  justify-content: center;
  align-items: center;
  & span {
    margin-right: 1em;
  }
}

.btn-pressed {
  transform: scale(0.75);
  transition: transform .25s ease-in-out;
}

.btn-save {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: a.$dyellow;
  font-size: 20px;
  padding: 5px 5px;
}

.save-key {
  position: absolute;
  bottom: 20px;
  font-size: 20px;
  font-family: 'Titan One', sans-serif;
  left: 50%;
  transform: translateX(-50%);
}

@keyframes sideBounce {
  0% {
    transform: translateX(0px);

  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0px);
  }
}