@use '../abstract/' as a;
.pot {
  @include a.flex-center;
  flex-direction: column;
  position: absolute;
  top: 50px;
  right: 50px;
  background-color: red;
  width: 100px;
  height: 80px;
  border-radius: 15px;
  background-color: a.$lmarine;
  overflow: hidden;
}

.pot-content {
  @include a.flex-center(space-between);
}

.pot-amount {
  font-size: 20px;
  font-family: 'Titan One', sans-serif;
  margin-right: 5px;
}

.coin-icon {
  height: 20px;
  width: 20px;
}
