@use '../abstract/' as a;
.progress-bar-container {
  margin-top: 200px;
  width: 70vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.progress-cell {
  height: 40px;
  width: 40px;
  @include a.flex-center;
  border-radius: 5px;
  font-family: 'Titan One', sans-serif;
}

.true-cell {
  background-color: a.$lgreen;
}

.false-cell {
  background-color: a.$lred;
}

.todo-cell {
  background-color: a.$lmarine;
}