@use '../abstract/' as a;

.home {
  @include a.flex-center(space-between);
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
}

.go-button-container {
  @include a.flex-center;
  width: 100%;
}

.go-button {
  @include a.flex-center;
  background-color: a.$dyellow;
  width: 200px;
  height: 200px;
  border-radius: 50%;

  &:hover {
    animation: go-spin .5s ease-out forwards;
  }

  span {
    font-family: 'Titan One', sans-serif;
    font-size: 80px;
    transform: rotate(-15deg);
    color: white;
  }
}

.prizewheel-container {
  @include a.flex-center;
  width: 100%;
  color: red;

}

.prizewheel-button {
  background-color: a.$lmarine;
  padding: 10px;
  border-radius: 10px;
   span {
    font-family: 'Titan One', sans-serif;
   }
   &:hover {
     img {
      animation: routourne-spin 1s linear infinite;
     }
     
   }
}

@keyframes routourne-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


@keyframes go-spin {
  0% {
    transform: scale(1);
    
  }

  50% {
    transform: scale(1.5) rotate(360deg);
  }
  100% {
    transform: scale(1) rotate(360deg);
  }
}