@use '../abstract/' as a;

.home {
  display: flex;
  @include a.flex-center(space-between);
  align-items: center;
  width: 100vw;
  height: 100vh;
  flex-wrap: wrap;
}

.go-button-container {
  @include a.flex-center;
  width: 100%;
}

.go-button {
  @include a.flex-center;
  background-color: a.$dyellow;
  width: 200px;
  height: 200px;
  border-radius: 50%;


  span {
    font-family: 'Titan One', sans-serif;
    font-size: 80px;
    transform: rotate(-15deg);
    color: white;
  }
}

.prizewheel-container {
  @include a.flex-center;
  width: 100%;
  color: red;

}

.prizewheel-button {
  background-color: a.$lmarine;
  padding: 10px;
  border-radius: 10px;
   span {
    font-family: 'Titan One', sans-serif;
   }
}