@use '../abstract/' as a;

.prize-wheel-page {
  @include a.flex-center;
  flex-direction: column;
}

.prize-wheel-container {
  @include a.flex-center;
}

.wheel-wrapper {
  @include a.flex-center;
  flex-direction: column;
}

.prizes-won {
  margin-right: 50px;
}

.wheel-container {
  margin-top: 100px;
  position: relative;
}

.wheel {
  position: relative;
  z-index: 1;
}

.pin {
  position: absolute;
  top: -20px;
  left: 45%;
  z-index: 2;
}

.lever {
  position: absolute;
  top: 44%;
  left: 50%;
  z-index: 0;
  transform: rotate(-30deg);
  transform-origin: left;
  cursor: pointer;
}

.lvr-active {
  
  animation: pull 4s ease-in-out forwards;
  
}

.btn-wheel {
  @include a.flex-center;
  border: none;
  font-size: 30px;
  background-color: a.$dyellow;
  font-family: 'Titan One', sans-serif;
  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 20px;
}

.prize-line {
  display: flex;
  align-items: center;
}

.prize-quantity {
  font-family: 'Titan One', sans-serif;
  color: a.$dyellow;
  font-size: 30px;
  margin-right: .5em;
}

.prize-content {
  font-family: 'Titan One', sans-serif;
}


.btn-inactive {
  background-color: a.$dgrey;
}

.spinning {
  animation: spin 4s ease-out forwards;
}

.oscillate {
  transform-origin: 50% top;
  animation: oscillate var(--oscillationSpeed);
  animation-iteration-count: var(--oscillationIteration);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(var(--spinEnd));
  }

}

@keyframes oscillate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes pull {
  0% {
    transform: rotate(-30deg);
    transform-origin: left;
  }
  10% {
    transform: rotate(30deg);
    transform-origin: left;
  }
  100% {
    transform: rotate(-30deg);
    transform-origin: left;
  }
}