@use '../abstract/' as a;

.question-container {
  @include a.flex-center;
  min-width: 400px;
  min-height: 280px;
  background-color: a.$lmarine;
  border-radius: 30px;
  flex-direction: column;
  font-family: 'Titan One', sans-serif;
  font-size: 30px;
  margin-bottom: 24px;
  text-align: center;
  padding: 70px;
}

.question-wrapper {
  @include a.flex-center;
  margin-top: 200px;
  flex-direction: column;
}

.buttons-container {
  width: 400px;
  @include a.flex-center(space-evenly);
}

.text-input {
  color: black;
  font-size: 24px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  margin-right: 10px;
  border-radius: 10px;
  border: none;
  height: 40px;
  outline: none;
  &:focus {
    outline: 2px solid a.$dyellow;
  }
}